midterms/Midterm1-11603-1_2-Steven_Hicken-01944112-47491.txt
assign4/a.out
assign4/assign4_test
.gitignore
assign4/assign4_test.o
midterms/Midterm2-11603-1_4-Steven_Hicken-01944112-47491.txt
.vscode/settings.json
assign5/a.out
.gitignore
assign6/assign6_test
assign6/assign6_test.o
assign6/a.out
assign5/hashes
.gitignore
